# Github language settings
*.h linguist-language=c
*.c linguist-language=c

# Default behaviour, in case people don't have core.autocrlf set.
* text=auto

# Make sure Windows batch files preserve CR/LF line endings, otherwise they may not be able to execute.  Windows
# batch files require a CR/LF for labels to work properly, otherwise they may fail when labels straddle 512-byte
# block boundaries.  This is important when files are downloaded through a zip archive that was authored on a
# Linux machine (the default behavior on GitHub)
*.bat eol=crlf

